*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.ajax-loader {
  position: absolute;
  top: 25%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translate(-50%, 0%);
  font-size: 50px;
  width: 1em;
  height: 3em;
  color: #d31145;
}
.ajax-loader .paw {
  width: 1em;
  height: 1em;
  -webkit-animation: 2050ms pawAnimation ease-in-out infinite;
          animation: 2050ms pawAnimation ease-in-out infinite;
  opacity: 0;
}
.ajax-loader .paw svg {
  width: 100%;
  height: 100%;
}
.ajax-loader .paw .icon {
  fill: currentColor;
}
.ajax-loader .paw:nth-child(odd) {
  transform: rotate(-10deg);
}
.ajax-loader .paw:nth-child(even) {
  transform: rotate(10deg) translate(125%, 0);
}
.ajax-loader .paw:nth-child(1) {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.ajax-loader .paw:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.ajax-loader .paw:nth-child(3) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.ajax-loader .paw:nth-child(4) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.ajax-loader .paw:nth-child(5) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.ajax-loader .paw:nth-child(6) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.no-cssanimations .ajax-loader .paw {
  opacity: 1;
}

@-webkit-keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.product-mat{
    display: grid;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
}

.mod-card{
  width: 250px;
  height: 350px;
}

.item-detail{
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.centered-message{
  display: flex;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.precio{
  color: palevioletred;
  font-size: larger;
}

.detail-img{
  max-width: 700px;
  max-height: 500px;
}

.cart-container{
  margin-right: 25px;
}

.vista-orden{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalle-vista-orden{
  display: flex;
  padding: 10px;
}

.total{
  color: #f60646;
}

.formulario-cliente{
  padding: 20px;
  margin: 16px;
  width: 40vw;
  border-style: solid;
  border-color: cadetblue;
  border-width: 1px;
}