*{
  box-sizing: border-box;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.product-mat{
    display: grid;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
}

.mod-card{
  width: 250px;
  height: 350px;
}

.item-detail{
  padding: 30px;
}